<!---------------------------- Banner at top  ---------------------------->
<section id="topHeader" class="links">
    Techincal Test PAXZU
</section>
<!---------------------------- Navbar  ---------------------------->
<nav class="navbar w-100 navbar-expand-lg navbar-light bg-white sticky-top mt-1">
    <div class="container-fluid">
        <!-- Logo -->
        <section class="navbar-brand d-flex justify-content-start col-2 m-0 p-0" routerLink="/home"><img
                class="navbar-logo ms-4" src="../../../assets/img/personalIcon.png" alt=""></section>
        <!-- Collapse navbar  -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Name -->
        <section class="navbar-brand d-flex justify-content-CENTER col-8 m-0 p-0" routerLink="/home">
        </section>
        <!-- Menu Options  -->
        <div class="collapse navbar-collapse col-2 pe-5" id="navbarNavAltMarkup">
            <div class="navbar-nav col-12 d-flex justify-content-between">
                <div class="nav-item active links" routerLink="/starwars">
                    <img src="../../../assets/img/SWBLACK.png" style="height: 24px;">
                    <p class="m-0 mt-1">STAR WARS</p>
                </div>
                <div class="nav-item links" routerLink="/crud">
                    <img src="../../../assets/img/CRUD.png" style="height: 24px;">
                    <p class="m-0 mt-1">CRUD</p>
                </div>
            </div>
        </div>
    </div>
</nav>